!!!
html
  head
    meta(property="og:title",content="OG")
    meta(property="og:type",content="website")
    meta(property="og:url",content="")
    meta(property="og:image",content="http://geoffreymoller-collect.s3.amazonaws.com/2012/7/10/funny-gifs-steven-seagals-epic-run.gif")
    meta(property="og:site_name",content="OG")
    meta(property="og:description",content="")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
